* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inria Serif", serif;
}
body #background {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-family: "Inria Sans", sans-serif;
}

.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #567939;
}
.navbar h2 {
  font-family: "Junge", serif;
}

.nav-links {
  position: absolute;
  right: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #567939;
  text-decoration: none;
}

#signup {
  color: #ffffff;
  background-color: #567939;
  border-radius: 6px;
  padding: 15px 24px 15px 24px;
}

#landing-modal {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  color: #567939;
}
#landing-modal .modal-content {
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#landing-modal .close-button {
  font-size: 20px;
  cursor: pointer;
}
#landing-modal h1 {
  font-family: "Junge", serif;
  font-size: 48px;
  margin-bottom: 2rem;
}
#landing-modal #fine-print {
  font-family: "Junge", serif;
  font-size: 20px;
}

#content {
  display: flex;
  height: 100vh;
}

.left-half {
  flex: 1;
  text-align: center;
  position: relative;
}
.left-half input {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  height: 36px;
  border-radius: 18px;
}
.left-half #to-span {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.left-half .centered-content {
  position: absolute;
  top: 20%;
  right: 16%;
  margin: auto;
  padding: 40px;
  background-color: #567939;
  border-radius: 40px;
}
.left-half .centered-content h2,
.left-half .centered-content label {
  color: #ffffff;
}
.left-half .centered-content .date-input {
  color: #567939;
  width: 120px;
}
.left-half .centered-content #custom-datepicker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.left-half .centered-content #date-status,
.left-half .centered-content #stay-validation {
  background-color: #567939;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.2s ease;
}
.left-half .centered-content #date-status.active,
.left-half .centered-content #stay-validation.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.left-half .centered-content .plusminus-button {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background-color: #ffffff;
  color: #567939;
  font-size: 20px;
}
.left-half .centered-content #search-button {
  width: 120px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background-color: #ffffff;
  color: #567939;
  font-size: 18px;
}
.left-half .centered-content #guests {
  width: 20px;
  background-color: #567939;
  color: #ffffff;
  font-size: 18px;
  border: none;
}

.right-half {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-message {
  font-size: 24px;
  color: #567939;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  top: 10%;
  left: 0%;
}

.search-item-tile {
  background-color: #ffffff;
  border-radius: 6px;
}
.search-item-tile h2 {
  color: #567939;
  font-size: 18px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item-tile .tile-price {
  background-color: #567939;
  color: #ffffff;
}
.search-item-tile .swiper-container {
  position: relative;
  width: 240px;
  height: 140px;
  overflow-x: hidden;
  margin-bottom: 1rem;
}
.search-item-tile .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item-tile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.search-item-tile .swiper-button-prev {
  left: 5%;
  top: 50%;
  height: 50%;
}
.search-item-tile .swiper-button-next {
  right: 5%;
  top: 50%;
  height: 50%;
}
.search-item-tile .info-summary {
  display: flex;
  padding: 0pc 10px 0 10px;
  justify-content: space-between;
}
.search-item-tile .info-summary .tile-guests,
.search-item-tile .info-summary .tile-rating,
.search-item-tile .info-summary .nightly-price,
.search-item-tile .info-summary img {
  margin-bottom: 0.5rem;
}
.search-item-tile .info-summary img {
  width: 20px;
}
.search-item-tile .info-summary .tile-right,
.search-item-tile .info-summary .tile-rating-star {
  text-align: end;
}
.search-item-tile .info-summary .tile-rating-star {
  display: flex;
  justify-content: end;
}
.search-item-tile .info-summary .star {
  width: 20px;
  margin-left: 0.5rem;
}

#more-info-modal {
  background-color: rgba(0, 0, 0, 0);
}

#more-info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  right: 15%;
  margin: auto;
  background-color: #567939;
  border-radius: 18px;
  width: 70%;
}

.info-left {
  position: relative;
  right: 0;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #567939;
  color: #ffffff;
}
.info-left .mapbox-container {
  background: #ffffff;
  color: #222222;
  width: 100%;
}

.info-right {
  background: #ffffff;
  position: relative;
  left: 0;
  max-width: 50%;
  flex: 1;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.info-right .title-rating {
  display: flex;
  justify-content: space-between;
  color: #567939;
  margin-bottom: 1rem;
}
.info-right .title-rating h2,
.info-right .title-rating .rating {
  color: #567939;
  font-size: 24px;
}
.info-right .title-rating .star {
  width: 28px;
  height: 28px;
  margin-left: 8px;
}
.info-right .title-rating .rating-star {
  display: flex;
  justify-content: flex-end;
}
.info-right .swiper-container {
  width: 100%;
  height: 300px;
  overflow-x: hidden;
  margin-bottom: 1rem;
}
.info-right .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
}
.info-right .swiper-container .swiper-button-next,
.info-right .swiper-container .swiper-button-prev {
  top: 25%;
}
.info-right .swiper-container .swiper-button-next {
  right: 5%;
}
.info-right .swiper-container .swiper-button-prev {
  left: 5%;
}
.info-right img.info-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.info-right .more-info-details {
  margin-top: 10px;
}
.info-right .more-info-details p {
  color: #567939;
  margin-bottom: 1rem;
}

#more-info-price,
#send {
  background-color: #567939;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

#back-button {
  background-color: #567939;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  right: -50px;
  top: 0;
  padding: 8px 16px;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  font-family: sans-serif;
}

.mapbox-container {
  margin-bottom: 1rem;
}

.contactform-input {
  background-color: #ffffff;
  color: #567939;
  font-family: "Inria Sans", sans-serif;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 6px;
  width: 100%;
}

#query {
  height: 300px;
}

#send {
  background-color: #ffffff;
  color: #567939;
  width: 100%;
}

#addon-container {
  display: flex;
  justify-content: space-between;
}
#addon-container .addon-label {
  flex: 1;
  background-color: #ffffff;
  color: #567939;
  font-size: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
}
#addon-container .addon-label .addon {
  transform: scale(2);
  margin-left: 11px;
}/*# sourceMappingURL=main.css.map */