// colours
$blue: #12466b;
$white: #ffffff;
$black: #222222;
// $green: #4d6b35;
$green: #567939;

// type

$logofont: "Junge", serif;
$headfont: "Inria Serif", serif;
$bodyfont: "Inria Sans", sans-serif;
