body {
  font-family: $headfont;
  #background {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

p {
  font-family: $bodyfont;
}

// -------- Nav --------

.navbar {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: $green;

  h2 {
    font-family: $logofont;
  }
}

.nav-links {
  position: absolute;
  right: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: $green;
  text-decoration: none;
}

#signup {
  color: $white;
  background-color: $green;
  border-radius: 6px;
  padding: 15px 24px 15px 24px;
}

// -------- Modal --------

#landing-modal {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
  color: $green;

  .modal-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .close-button {
    font-size: 20px;
    cursor: pointer;
  }

  h1 {
    font-family: $logofont;
    font-size: 48px;
    margin-bottom: 2rem;
  }

  #fine-print {
    font-family: $logofont;
    font-size: 20px;
  }
}

#content {
  display: flex;
  height: 100vh;
}

// ------- Left --------

.left-half {
  flex: 1;
  text-align: center;
  position: relative;

  button {
    border: $white solid 2px;
  }

  input {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    height: 36px;
    border-radius: 18px;
  }

  #to-span {
    color: $white;
    font-weight: 700;
    font-size: 20px;
  }
  .centered-content {
    position: absolute;
    top: 20%;
    right: 16%;
    margin: auto;
    padding: 40px;
    background-color: $green;
    border-radius: 40px;

    h2,
    label {
      color: $white;
    }

    .date-input {
      color: $green;
      width: 120px;
    }

    #custom-datepicker {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }

    #date-status,
    #stay-validation {
      background-color: $green;
      border-radius: 20px;
      color: $white;
      padding: 10px 20px;
      margin-top: 40px;
      visibility: hidden;
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.2s ease;

      &.active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }

    .plusminus-button {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background-color: $white;
      color: $green;
      font-size: 20px;
    }

    #search-button {
      width: 120px;
      height: 36px;
      border-radius: 18px;
      background-color: $white;
      color: $green;
      font-size: 18px;
    }

    #guests {
      width: 20px;
      background-color: $green;
      color: $white;
      font-size: 18px;
    }
  }
}

// -------- Right --------

.right-half {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-message {
  font-size: 24px;
  color: $green;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  top: 10%;
  left: 0%;
}

.search-item-tile {
  background-color: $white;
  border-radius: 6px;

  h2 {
    color: $green;
    font-size: 18px;
    padding: 1rem;
    background-color: $white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tile-price {
    background-color: $green;
    color: $white;
  }

  .swiper-container {
    position: relative;
    width: 240px;
    height: 140px;
    overflow-x: hidden;
    margin-bottom: 1rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev {
    left: 5%;
    top: 50%;
    height: 50%;
  }

  .swiper-button-next {
    right: 5%;
    top: 50%;
    height: 50%;
  }

  .info-summary {
    display: flex;
    padding: 0pc 10px 0 10px;
    justify-content: space-between;

    .tile-guests,
    .tile-rating,
    .nightly-price,
    img {
      margin-bottom: 0.5rem;
    }

    img {
      width: 20px;
    }

    .tile-right,
    .tile-rating-star {
      text-align: end;
    }

    .tile-rating-star {
      display: flex;
      justify-content: end;
    }

    .star {
      width: 20px;
      margin-left: 0.5rem;
    }
  }
}

// -------- More Info --------

#more-info-modal {
  background-color: rgba(0, 0, 0, 0);
}

#more-info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin: auto;
  margin-top: 36px;
  background-color: $green;
  border-radius: 10px;
  width: 70%;
  max-height: 80%;
  overflow-y: auto;
}

.info-left {
  position: relative;
  right: 0;
  max-width: 50%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: $green;
  color: $white;

  .mapbox-container {
    background: $white;
    color: $black;
    width: 100%;
  }
}

.info-right {
  background: $white;
  position: relative;
  left: 0;
  max-width: 50%;
  flex: 1;
  padding: 20px;
  width: 100%;
  height: 100%;

  .title-rating {
    display: flex;
    justify-content: space-between;
    color: $green;
    margin-bottom: 1rem;

    h2,
    .rating {
      color: $green;
      font-size: 24px;
    }

    .star {
      width: 28px;
      height: 28px;
      margin-left: 8px;
    }

    .rating-star {
      display: flex;
      justify-content: flex-end;
    }
  }
  .swiper-container {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    margin-bottom: 1rem;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: 25%;
    }

    .swiper-button-next {
      right: 5%;
    }

    .swiper-button-prev {
      left: 5%;
    }
  }

  img.info-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .more-info-details {
    margin-top: 10px;
    p {
      color: $green;
      margin-bottom: 1rem;
    }
  }

  .more-info-price {
    background-color: #567939;
    color: #ffffff;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
  }
}

#back-button {
  background-color: $white;
  color: $green;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 180px;
  top: 86px;
  padding: 8px 16px;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  font-family: sans-serif;
}
